body {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
}

/* Main Region of Grid */

.grid-main {
    display: flex;
    flex: 1 1 0rem;
    flex-direction: column;
    max-width: 50rem;
    aspect-ratio: 1/1;
    margin: 10rem;
    border: 0.5rem solid black;
}

/* Row of Grid Cells */

.grid-row {
    display: flex;
    flex: 1 1 0rem;
}

/* Grid Cells */

.grid-block {
    background-color: black;
    border: 0.25rem solid black;
    aspect-ratio: 1/1;
}

.new-grid-button {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
    font-size: 2.5rem;
    border: 0.5rem solid black;
    border-radius: 0.5rem;
    padding: 1rem 3rem;
}
